In [1]:
import pandas as pd
df = pd.read_csv("princess_corpus.csv")
df.head()

,Disney_Period,Text,Speaker_Status,Movie,Speaker,Year,UTTERANCE_NUMBER
0,EARLY,slave in the magic mirror come from the farthe...,NON-P,Snow White,queen,1937,1
1,EARLY,"what wouldst thou know, my queen ?",NON-P,Snow White,mirror,1937,2
2,EARLY,"magic mirror on the wall, who is the fairest o...",NON-P,Snow White,queen,1937,3
3,EARLY,"famed is thy beauty, majesty. but hold, a love...",NON-P,Snow White,mirror,1937,4
4,EARLY,alas for her ! reveal her name.,NON-P,Snow White,queen,1937,5

In [12]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [21]:
from pymorphy2 import MorphAnalyzer
from nltk import wordpunct_tokenize
morph = MorphAnalyzer()

In [22]:
from nltk.corpus import stopwords
stops = set(stopwords.words('english'))

In [25]:
def lemmatize(x):
    if type(x) != str:
        return ""
    text = wordpunct_tokenize(x)
    result = []
    for word in text:
        if word.isalpha():
            nf = morph.parse(word)[0].normal_form
            #if nf not in stops:
            result.append(nf)
    return " ".join(result)

In [61]:
from pymystem3 import Mystem
m = Mystem()

Installing mystem to C:\Users\User/.local/bin\mystem.exe from http://download.cdn.yandex.net/mystem/mystem-3.1-win-64bit.zip

In [78]:
def parse(x):
    result = []
    ana = nltk.pos_tag(x.split())
    for tagged_token in ana:
        result.append(tagged_token[1])
    return ' '.join(result)

In [29]:
def length(x):
    return len(x)

In [30]:
df['Length'] = (df['Text']).apply(length)

In [79]:
df['Text'] = df['Text'].apply(lemmatize)
df['POS'] = df['Text'].apply(parse)
df

,Disney_Period,Text,Speaker_Status,Movie,Speaker,Year,UTTERANCE_NUMBER,Length,POS
0,EARLY,slave in the magic mirror come from the farthe...,NON-P,Snow White,queen,1937,1,120,NN IN DT JJ NN VBN IN DT JJS NN IN NN CC NN NN...
1,EARLY,what wouldst thou know my queen,NON-P,Snow White,mirror,1937,2,31,WP VBZ NN VB PRP$ NN
2,EARLY,magic mirror on the wall who is the fairest on...,NON-P,Snow White,queen,1937,3,54,JJ NN IN DT NN WP VBZ DT JJS CD IN DT
3,EARLY,famed is thy beauty majesty but hold a lovely ...,NON-P,Snow White,mirror,1937,4,122,VBN VBZ JJ NN NN CC VBP DT JJ NN NN VBP NNS VB...
4,EARLY,alas for her reveal her name,NON-P,Snow White,queen,1937,5,28,NN IN PRP$ NN PRP$ NN
...,...,...,...,...,...,...,...,...,...
7743,LATE,we are never closing them again,PRINCESS,Frozen,elsa,2013,984,31,PRP VBP RB VBG PRP RB
7744,LATE,form on anna s boots,PRINCESS,Frozen,elsa,2013,985,20,NN IN NN NN NNS
7745,LATE,what oh elsa they re beautiful but you know i ...,PRINCESS,Frozen,anna,2013,986,55,WP VBZ NN PRP VBP JJ CC PRP VBP JJ VBP JJ NN
7746,LATE,look out reindeer coming through,NON-P,Frozen,kristoff,2013,987,32,VB RP NN VBG IN
7747,LATE,that s it glide and pivot and glide and pivot,NON-P,Frozen,olaf,2013,988,45,DT VBD PRP NN CC NN CC NN CC NN

In [33]:
mean = df['Length'].mean()
mean

47.62712958182757